DEV_SCHEMA_PATH=http://192.168.10.10:9000/graphql
TEST_SCHEMA_PATH=src/graphql/SUBDOMAIN-schema.json
STAGING_SCHEMA_PATH=https://st-SUBDOMAIN.DOMAIN/graphql
PROD_SCHEMA_PATH=https://SUBDOMAIN.DOMAIN/graphql
